body {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    ;
}

.header {
    background-image: url(donate-today-main/images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 850px;
    position: relative;

}

.donate-head {
    color: white;
    text-align: center;
    padding-top: 40px;
    top: 50%;
    left: 50%;

}

.donate-head h1 {
    font-size: 60px;
    text-transform: capitalize;
}

.donate-now {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 22px 38px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.amount {
    width: 60%;
    margin: 150px auto;
    text-align: center;
}

.button {
    display: inline-block;
    border: none;
    background-color: rgb(250, 250, 250);
    padding: 30px 40px;
    margin: 6px 15px;
    font-size: 25px;
    color: rgb(112, 112, 112);
    font-weight: 800;
}

#button2 {
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
}

.font {
    color: rgb(192, 192, 192);
    margin-top: 40px;
    
}

#downline {
    color: rgb(192, 192, 192);
    margin-bottom: 25px;
}

.donate-plan {
    margin-top: 120px;
    margin-bottom: 0;
    
}


.font-manage {
    font-size: 55px;
    font-weight: 800;
}
#check{
    margin-top:200px;
    margin-bottom: 0;
}
#for-check{
    margin: 0;
    font-size: 20px;
    font-weight: 1px;
}

.need-donation {
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    padding: 5px;
}

.food-donate {
    width: 40%;
    height: 340px;
    border: 0px solid #EDF5F6;
    background-color: #EDF5F6;
    margin-left:20px;
    padding: 60px 10px 20px 20px;
    border-radius: 5px;
}

.sherter-donate {
    width: 40%;
    height: 340px;
    margin-left:20px;
    border: 0px solid #FFEEEE;
    background-color: #FFEEEE;
    padding: 60px 10px 20px 20px;
    border-radius: 5px;
}

.education-donate {
    width: 40%;
    height: 340px;
    margin-left:20px;
    border: 0px solid #FFF4D6;
    background-color: #FFF4D6;
    padding: 60px 10px 20px 20px;
    border-radius: 5px;
}
.happiness-people{
    display:flex;
    margin:100px;
}
.smaile-face{
    margin-left:80px;
    margin-right: 120px;
    
}
.font-manage-1{
    font-size: 55px;
    font-weight: bold;
}
.contribute{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 22px 38px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    font-size: 25px;
    
}
.smaile-face img{
    width:600px;
    height: 500px;
    border: 1px solid white;
    border-radius: 5px;
}
.update{
    text-align: center;
    margin-top: 120px;
}
.font-manage1 {
    font-size: 55px;
    font-weight: 800;
    margin-bottom: 0;
}
.font-style1{
    font-weight: 100;
    font-size: 20px;
    
}


.email {
    display: flex;
    background-color: #FFF4D6;
    width: 60%;
    height: 250PX;
    margin: 50px auto;
    text-align: center;
    

}

.email-style {
    margin-top: 100px;
    margin-left: 240px;
    border: 0px solid red;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 20px;
    padding: 15px 40px;
    background-color: #D9D9D9;
}

.subscribe-style {
    margin-top: 100px;
    border: 0px solid red;
    font-size: 20px;
    padding: 15px 0;
    text-align: center;
    background-color: #FF5959;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
}


footer {
    background-color: black;
    width: 100%;
    height: 220px;
    margin-top: 180px;
}

.font-manage3 {
    font-family: 'Courgette', cursive;
    color: #FF5959;
    text-align: center;
    padding-top: 55px;
    font-size: 41px;
}

#font-style {
    color: white;
    text-align: center;
    font-weight: 180;
}